/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #f8f9fc;
    font-family: 'Poppins', sans-serif;

}

.container2 .card2 .detail a .bulat{
    background-color: #2081E2;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    font-size: 20px;
    height: 50px;
    box-shadow: 0 2px 6px #acb5f6;

}

.container2 .card2 {
    padding: 45px 50px !important;
    margin-bottom: 50px;

}

.container2 .card2 .detail a {
    text-decoration: none;

}

.container2 .card2 .detail h2 {
    font-size: 24px;
    color: #353840;
    margin-bottom: 0;

}

.container2 .card2 .detail-mapel table {
    width: 60%;
    margin-top: 25px;

}

.container2 .card2 .btn-soal {
    background-color: #2081E2;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

.container2 .card2 .tT {
    font-weight: 600;
    margin-bottom: 0;

}

.container2 .card2 .btn-edit {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 46px;
    width: 8%;
    align-items: center;
    padding: 10px;

}

.container2 .card2 .detail-mapel table tr th{
    color: #2081E2;
    font-size: 15px;
    font-weight: 600;

}

.container2 .card2 .detail-mapel table tr td{
    padding-left: 20px;
    padding: 10px;
    color: #5b626b;

}

@media (max-width: 768px) {

    .container2 .card2 .detail h2 {
        font-size: 25px;
        color: #353840;
        margin-bottom: 0;
    
    }

    .container2 .card2 .detail-mapel table {
        width: 100%;
        margin-top: 25px;
    
    }

}

@media (max-width: 576px) {
    .container2 .card2 .detail h2 {
        font-size: 20px;
        color: #353840;
        margin-bottom: 0;
    
    }


}
